services:
  ros2:
    # GPU support (requires NVIDIA Container Toolkit)
    environment:
      NVIDIA_VISIBLE_DEVICES: all
      NVIDIA_DRIVER_CAPABILITIES: all
      __GLX_VENDOR_LIBRARY_NAME: nvidia
      __NV_PRIME_RENDER_OFFLOAD: "1"
      __VK_LAYER_NV_optimus: NVIDIA_only

    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
